//variables// Paleta de colores principales
$verde: #0d1b2a; // Azul oscuro metálico, para fondo principal
$morado: #1b263b; // Azul medio, para secciones destacadas
$rosa: #e63946; // Rojo neón, para detalles futuristas y llamativos
$amarillo: #a8dadc; // Cian suave, para resaltar texto o botones

// Colores complementarios
$negro: #333333; // Gris oscuro, para textos o sombras
$blanco: #d9d9d9; // Gris claro, para fondos secundarios
$verdec:#4CB8B3;
$rosac: #F53756;
$amarilloc: #fdda00;
$moradoc: #752F97;
$rojo: #9f0d0d;



//FUENTE
$fuente_principal:"Orbitron", sans-serif;

//MEDIA QUERIES
$telefono: 480px;
$tableta:768px;
$compu:1200px;
$compuxxl:1500px;